.btn {
   float: right;
}
.primary {
   background: rgba(134, 131, 226, 0.81);
   width: 30%;
   border-radius: 10px;
   padding: 5px 15px;
   margin: 0 auto 30px;
}
.success {
   background: #cfda92;
   width: 30%;
   border-radius: 10px;
   margin: 0 auto 30px;
   padding: 5px 15px;
}
.danger {
   background: #ff6f6b;
   width: 30%;
   border-radius: 10px;
   margin: 0 auto 30px;
   padding: 5px 15px;
}
.warning {
   background: #fff08f;
   width: 30%;
   border-radius: 10px;
   margin: 0 auto 30px;
   padding: 5px 15px;
}